In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.options.display.max_columns = 200

In [35]:
df = pd.read_csv('first inten project.csv')
df.head()

,Booking_ID,number of adults,number of children,number of weekend nights,number of week nights,type of meal,car parking space,room type,lead time,market segment type,repeated,P-C,P-not-C,average price,special requests,date of reservation,booking status
0,INN00001,1,1,2,5,Meal Plan 1,0,Room_Type 1,224,Offline,0,0,0,88.00,0,10/2/2015,Not_Canceled
1,INN00002,1,0,1,3,Not Selected,0,Room_Type 1,5,Online,0,0,0,106.68,1,11/6/2018,Not_Canceled
2,INN00003,2,1,1,3,Meal Plan 1,0,Room_Type 1,1,Online,0,0,0,50.00,0,2/28/2018,Canceled
3,INN00004,1,0,0,2,Meal Plan 1,0,Room_Type 1,211,Online,0,0,0,100.00,1,5/20/2017,Canceled
4,INN00005,1,0,1,2,Not Selected,0,Room_Type 1,48,Online,0,0,0,77.00,0,4/11/2018,Canceled

In [36]:
df = df.rename(columns={
    'P-C': 'reserved then cancelled',
    'P-not-C': 'reserved then not cancelled',
    'lead time': 'days from booking to arrival',
    'repeated': 'visited before',
    'market segment type': 'market type'})

df.head()

,Booking_ID,number of adults,number of children,number of weekend nights,number of week nights,type of meal,car parking space,room type,days from booking to arrival,market type,visited before,reserved then cancelled,reserved then not cancelled,average price,special requests,date of reservation,booking status
0,INN00001,1,1,2,5,Meal Plan 1,0,Room_Type 1,224,Offline,0,0,0,88.00,0,10/2/2015,Not_Canceled
1,INN00002,1,0,1,3,Not Selected,0,Room_Type 1,5,Online,0,0,0,106.68,1,11/6/2018,Not_Canceled
2,INN00003,2,1,1,3,Meal Plan 1,0,Room_Type 1,1,Online,0,0,0,50.00,0,2/28/2018,Canceled
3,INN00004,1,0,0,2,Meal Plan 1,0,Room_Type 1,211,Online,0,0,0,100.00,1,5/20/2017,Canceled
4,INN00005,1,0,1,2,Not Selected,0,Room_Type 1,48,Online,0,0,0,77.00,0,4/11/2018,Canceled

In [37]:
df.dtypes

Booking_ID                       object
number of adults                  int64
number of children                int64
number of weekend nights          int64
number of week nights             int64
type of meal                     object
car parking space                 int64
room type                        object
days from booking to arrival      int64
market type                      object
visited before                    int64
reserved then cancelled           int64
reserved then not cancelled       int64
average price                   float64
special requests                  int64
date of reservation              object
booking status                   object
dtype: object

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36285 entries, 0 to 36284
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Booking_ID                    36285 non-null  object
 1   number of adults              36285 non-null  int64
 2   number of children            36285 non-null  int64
 3   number of weekend nights      36285 non-null  int64
 4   number of week nights         36285 non-null  int64
 5   type of meal                  36285 non-null  object
 6   car parking space             36285 non-null  int64
 7   room type                     36285 non-null  object
 8   days from booking to arrival  36285 non-null  int64
 9   market type                   36285 non-null  object
 10  visited before                36285 non-null  int64
 11  reserved then cancelled       36285 non-null  int64
 12  reserved then not cancelled   36285 non-null  int64
 13  average price                 36285 non-null  float64
 14  special requests              36285 non-null  int64
 15  date of reservation           36285 non-null  object
 16  booking status                36285 non-null  object
dtypes: float64(1), int64(10), object(6)
memory usage: 4.7+ MB

In [39]:
df.describe()

,number of adults,number of children,number of weekend nights,number of week nights,car parking space,days from booking to arrival,visited before,reserved then cancelled,reserved then not cancelled,average price,special requests
count,36285.000000,36285.000000,36285.000000,36285.000000,36285.000000,36285.000000,36285.000000,36285.000000,36285.000000,36285.000000,36285.000000
mean,1.844839,0.105360,0.810693,2.204602,0.030977,85.239851,0.025630,0.023343,0.153369,103.421636,0.619733
std,0.518813,0.402704,0.870590,1.410946,0.173258,85.938796,0.158032,0.368281,1.753931,35.086469,0.786262
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,0.000000,17.000000,0.000000,0.000000,0.000000,80.300000,0.000000
50%,2.000000,0.000000,1.000000,2.000000,0.000000,57.000000,0.000000,0.000000,0.000000,99.450000,0.000000
75%,2.000000,0.000000,2.000000,3.000000,0.000000,126.000000,0.000000,0.000000,0.000000,120.000000,1.000000
max,4.000000,10.000000,7.000000,17.000000,1.000000,443.000000,1.000000,13.000000,58.000000,540.000000,5.000000

In [40]:
df.columns

Index(['Booking_ID', 'number of adults', 'number of children',
       'number of weekend nights', 'number of week nights', 'type of meal',
       'car parking space', 'room type', 'days from booking to arrival',
       'market type', 'visited before', 'reserved then cancelled',
       'reserved then not cancelled', 'average price ', 'special requests',
       'date of reservation', 'booking status'],
      dtype='object')

In [41]:
df['type of meal'].value_counts()

type of meal
Meal Plan 1     27842
Not Selected     5132
Meal Plan 2      3306
Meal Plan 3         5
Name: count, dtype: int64

In [42]:
df.replace({'type of meal': {'Not Selected': 0,
                               'Meal Plan 1': 1,
                                'Meal Plan 2': 2,
                                'Meal Plan 3': 3}}, inplace=True)

df['type of meal'].value_counts()

C:\Users\dell\AppData\Local\Temp\ipykernel_20528\1181922773.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({'type of meal': {'Not Selected': 0,

type of meal
1    27842
0     5132
2     3306
3        5
Name: count, dtype: int64

In [43]:
df.head()

,Booking_ID,number of adults,number of children,number of weekend nights,number of week nights,type of meal,car parking space,room type,days from booking to arrival,market type,visited before,reserved then cancelled,reserved then not cancelled,average price,special requests,date of reservation,booking status
0,INN00001,1,1,2,5,1,0,Room_Type 1,224,Offline,0,0,0,88.00,0,10/2/2015,Not_Canceled
1,INN00002,1,0,1,3,0,0,Room_Type 1,5,Online,0,0,0,106.68,1,11/6/2018,Not_Canceled
2,INN00003,2,1,1,3,1,0,Room_Type 1,1,Online,0,0,0,50.00,0,2/28/2018,Canceled
3,INN00004,1,0,0,2,1,0,Room_Type 1,211,Online,0,0,0,100.00,1,5/20/2017,Canceled
4,INN00005,1,0,1,2,0,0,Room_Type 1,48,Online,0,0,0,77.00,0,4/11/2018,Canceled

In [44]:
df['room type'].value_counts()

room type
Room_Type 1    28138
Room_Type 4     6059
Room_Type 6      966
Room_Type 2      692
Room_Type 5      265
Room_Type 7      158
Room_Type 3        7
Name: count, dtype: int64

In [45]:
df.replace({'room type': {'Room_Type 1': 1,
                                'Room_Type 2': 2,
                                'Room_Type 3': 3,
                                'Room_Type 4': 4,
                                'Room_Type 5': 5,
                                'Room_Type 6': 6,
                                'Room_Type 7': 7,}}, inplace=True)


df['room type'].value_counts()

C:\Users\dell\AppData\Local\Temp\ipykernel_20528\377456246.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({'room type': {'Room_Type 1': 1,

room type
1    28138
4     6059
6      966
2      692
5      265
7      158
3        7
Name: count, dtype: int64

In [46]:
df.head()

,Booking_ID,number of adults,number of children,number of weekend nights,number of week nights,type of meal,car parking space,room type,days from booking to arrival,market type,visited before,reserved then cancelled,reserved then not cancelled,average price,special requests,date of reservation,booking status
0,INN00001,1,1,2,5,1,0,1,224,Offline,0,0,0,88.00,0,10/2/2015,Not_Canceled
1,INN00002,1,0,1,3,0,0,1,5,Online,0,0,0,106.68,1,11/6/2018,Not_Canceled
2,INN00003,2,1,1,3,1,0,1,1,Online,0,0,0,50.00,0,2/28/2018,Canceled
3,INN00004,1,0,0,2,1,0,1,211,Online,0,0,0,100.00,1,5/20/2017,Canceled
4,INN00005,1,0,1,2,0,0,1,48,Online,0,0,0,77.00,0,4/11/2018,Canceled

In [47]:
df['market type'].value_counts()

market type
Online           23221
Offline          10531
Corporate         2017
Complementary      391
Aviation           125
Name: count, dtype: int64

In [48]:
df.replace({'market type': {'Online': 1,
                                'Offline': 2,
                                'Corporate': 3,
                                'Complementary': 4,
                                'Aviation': 5,
                           }}, inplace=True)


df['market type'].value_counts()

C:\Users\dell\AppData\Local\Temp\ipykernel_20528\750805983.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({'market type': {'Online': 1,

market type
1    23221
2    10531
3     2017
4      391
5      125
Name: count, dtype: int64

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36285 entries, 0 to 36284
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Booking_ID                    36285 non-null  object
 1   number of adults              36285 non-null  int64
 2   number of children            36285 non-null  int64
 3   number of weekend nights      36285 non-null  int64
 4   number of week nights         36285 non-null  int64
 5   type of meal                  36285 non-null  int64
 6   car parking space             36285 non-null  int64
 7   room type                     36285 non-null  int64
 8   days from booking to arrival  36285 non-null  int64
 9   market type                   36285 non-null  int64
 10  visited before                36285 non-null  int64
 11  reserved then cancelled       36285 non-null  int64
 12  reserved then not cancelled   36285 non-null  int64
 13  average price                 36285 non-null  float64
 14  special requests              36285 non-null  int64
 15  date of reservation           36285 non-null  object
 16  booking status                36285 non-null  object
dtypes: float64(1), int64(13), object(3)
memory usage: 4.7+ MB

In [50]:
df['date of reservation'] = pd.to_datetime(df['date of reservation'], errors='coerce')
df.head()

,Booking_ID,number of adults,number of children,number of weekend nights,number of week nights,type of meal,car parking space,room type,days from booking to arrival,market type,visited before,reserved then cancelled,reserved then not cancelled,average price,special requests,date of reservation,booking status
0,INN00001,1,1,2,5,1,0,1,224,2,0,0,0,88.00,0,2015-10-02,Not_Canceled
1,INN00002,1,0,1,3,0,0,1,5,1,0,0,0,106.68,1,2018-11-06,Not_Canceled
2,INN00003,2,1,1,3,1,0,1,1,1,0,0,0,50.00,0,2018-02-28,Canceled
3,INN00004,1,0,0,2,1,0,1,211,1,0,0,0,100.00,1,2017-05-20,Canceled
4,INN00005,1,0,1,2,0,0,1,48,1,0,0,0,77.00,0,2018-04-11,Canceled

In [51]:

df.replace({'booking status': {'Canceled': 0,
                                'Not_Canceled': 1}}, inplace=True)

df['booking status'].value_counts()

C:\Users\dell\AppData\Local\Temp\ipykernel_20528\806945440.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({'booking status': {'Canceled': 0,

booking status
1    24396
0    11889
Name: count, dtype: int64

In [52]:
df.drop(columns=['Booking_ID'], inplace=True)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36285 entries, 0 to 36284
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   number of adults              36285 non-null  int64
 1   number of children            36285 non-null  int64
 2   number of weekend nights      36285 non-null  int64
 3   number of week nights         36285 non-null  int64
 4   type of meal                  36285 non-null  int64
 5   car parking space             36285 non-null  int64
 6   room type                     36285 non-null  int64
 7   days from booking to arrival  36285 non-null  int64
 8   market type                   36285 non-null  int64
 9   visited before                36285 non-null  int64
 10  reserved then cancelled       36285 non-null  int64
 11  reserved then not cancelled   36285 non-null  int64
 12  average price                 36285 non-null  float64
 13  special requests              36285 non-null  int64
 14  date of reservation           36248 non-null  datetime64[ns]
 15  booking status                36285 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(14)
memory usage: 4.4 MB

In [54]:
df_corr = df.corr()
df_corr

,number of adults,number of children,number of weekend nights,number of week nights,type of meal,car parking space,room type,days from booking to arrival,market type,visited before,reserved then cancelled,reserved then not cancelled,average price,special requests,date of reservation,booking status
number of adults,1.000000,-0.020027,0.103316,0.105416,-0.004068,0.011467,0.270501,0.097014,-0.314021,-0.192175,-0.047395,-0.119106,0.296832,0.189317,0.023662,-0.086774
number of children,-0.020027,1.000000,0.029536,0.024680,0.042233,0.034198,0.363802,-0.047058,-0.130536,-0.036371,-0.016398,-0.021201,0.337491,0.124363,-0.002920,-0.033007
number of weekend nights,0.103316,0.029536,1.000000,0.179548,-0.018840,-0.031102,0.057334,0.046510,-0.129048,-0.067096,-0.020687,-0.026307,-0.004565,0.060432,-0.007149,-0.061489
number of week nights,0.105416,0.024680,0.179548,1.000000,0.026869,-0.048814,0.094142,0.149600,-0.112940,-0.099782,-0.030089,-0.049354,0.022751,0.046136,-0.000102,-0.092824
type of meal,-0.004068,0.042233,-0.018840,0.026869,1.000000,-0.015154,0.093411,0.226881,0.254980,0.010003,-0.006796,0.006332,0.134699,-0.090189,-0.013108,-0.049403
car parking space,0.011467,0.034198,-0.031102,-0.048814,-0.015154,1.000000,0.038778,-0.066444,0.003734,0.110916,0.027109,0.063814,0.061310,0.087889,-0.009038,0.086179
room type,0.270501,0.363802,0.057334,0.094142,0.093411,0.038778,1.000000,-0.107830,-0.156631,-0.025819,-0.007934,-0.008136,0.469908,0.145159,-0.006139,-0.022877
days from booking to arrival,0.097014,-0.047058,0.046510,0.149600,0.226881,-0.066444,-0.107830,1.000000,0.007080,-0.135966,-0.045718,-0.078126,-0.062578,-0.101604,0.023706,-0.438491
market type,-0.314021,-0.130536,-0.129048,-0.112940,0.254980,0.003734,-0.156631,0.007080,1.000000,0.337748,0.074228,0.207140,-0.375597,-0.308467,-0.015846,0.136005
visited before,-0.192175,-0.036371,-0.067096,-0.099782,0.010003,0.110916,-0.025819,-0.135966,0.337748,1.000000,0.390811,0.539157,-0.174881,-0.011834,-0.017313,0.107277
reserved then cancelled,-0.047395,-0.016398,-0.020687,-0.030089,-0.006796,0.027109,-0.007934,-0.045718,0.074228,0.390811,1.000000,0.468148,-0.063334,-0.003323,-0.001110,0.033725
reserved then not cancelled,-0.119106,-0.021201,-0.026307,-0.049354,0.006332,0.063814,-0.008136,-0.078126,0.207140,0.539157,0.468148,1.000000,-0.113673,0.027363,-0.007348,0.060174
average price,0.296832,0.337491,-0.004565,0.022751,0.134699,0.061310,0.469908,-0.062578,-0.375597,-0.174881,-0.063334,-0.113673,1.000000,0.184468,0.019817,-0.142433
special requests,0.189317,0.124363,0.060432,0.046136,-0.090189,0.087889,0.145159,-0.101604,-0.308467,-0.011834,-0.003323,0.027363,0.184468,1.000000,0.016511,0.253092
date of reservation,0.023662,-0.002920,-0.007149,-0.000102,-0.013108,-0.009038,-0.006139,0.023706,-0.015846,-0.017313,-0.001110,-0.007348,0.019817,0.016511,1.000000,-0.015477
booking status,-0.086774,-0.033007,-0.061489,-0.092824,-0.049403,0.086179,-0.022877,-0.438491,0.136005,0.107277,0.033725,0.060174,-0.142433,0.253092,-0.015477,1.000000

In [55]:
df_corr['booking status'].sort_values(ascending=False)

booking status                  1.000000
special requests                0.253092
market type                     0.136005
visited before                  0.107277
car parking space               0.086179
reserved then not cancelled     0.060174
reserved then cancelled         0.033725
date of reservation            -0.015477
room type                      -0.022877
number of children             -0.033007
type of meal                   -0.049403
number of weekend nights       -0.061489
number of adults               -0.086774
number of week nights          -0.092824
average price                  -0.142433
days from booking to arrival   -0.438491
Name: booking status, dtype: float64

inverse relation between booking and days from booking to arrival and there is positive relastion between it and special requests

In [56]:
df.head()

,number of adults,number of children,number of weekend nights,number of week nights,type of meal,car parking space,room type,days from booking to arrival,market type,visited before,reserved then cancelled,reserved then not cancelled,average price,special requests,date of reservation,booking status
0,1,1,2,5,1,0,1,224,2,0,0,0,88.00,0,2015-10-02,1
1,1,0,1,3,0,0,1,5,1,0,0,0,106.68,1,2018-11-06,1
2,2,1,1,3,1,0,1,1,1,0,0,0,50.00,0,2018-02-28,0
3,1,0,0,2,1,0,1,211,1,0,0,0,100.00,1,2017-05-20,0
4,1,0,1,2,0,0,1,48,1,0,0,0,77.00,0,2018-04-11,0

In [57]:
df.to_csv('first_inten_project_cleaned.csv', index=False)

In [58]:
df['visited before'].value_counts()

visited before
0    35355
1      930
Name: count, dtype: int64